---

layout: default
title: Blog
permalink: blog

---

{% for post in site.posts | sort:"date" | reverse | limit: 5  %}
 <article>
    <!-- Calculate Reading time -->
    {% assign post-length =  post.content | number_of_words %}
    {% assign est-read = post-length | divided_by: 200 %}
    
    <!-- Render Post -->
    {% include meta.html post=post preview=true %}
    {% if post.banner != nill %}
     <span font-size="3em">{{ post.banner }}</span>
    {% else %}
     <!-- {% if post.image != nil %}<img src="{{ post.image }}">{% endif %} -->
     <!-- can I prepent the thumb to the excerpt variable? -->
      {% if post.thumb != nil %}<span style="float:right; padding-left:10px;"><img src="{{ post.thumb }}" width="200"></span>{% endif %}
      {{ post.excerpt }}
      <div class="more"><a href="{{ post.url | relative_url }}">read more</a>
        <span style= "color:#b8b8b8">{% if est-read > 3 %}{{est-read | round }} min read{% else %}<2 min read{% endif %}</span>
      </div>
    {% endif %}
  </article>
{% endfor %}

<h1>Older Posts...</h1>
<ul>
  {% for post in site.posts | sort:"date" | reverse  %}
    <!-- Calculate Reading time -->
    {% assign post-length =  post.content | number_of_words %}
    {% assign est-read = post-length | divided_by: 200 %}

    {% if forloop.index > 5 %}   <!-- skip the first five posts -->
      <li><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a><span style= "color:#b8b8b8"> - {{ post.author }}, {{ post.date |  date: '%b %Y'  }},
      {% if est-read > 3 %}{{est-read | round }} min read{% else %}<2 min read{% endif %}</span></li>
    {% endif %}
  {% endfor %}
</ul>

